@page "/"

<div id="container">
    <div>
        <div id="heading">
            <h1>Accounts</h1>
        </div>
        <div id="content">
            <button type="button" id="account">ACCOUNT</button>
            <button type="button" id="account">ACCOUNT</button>
            <button type="button" id="account">ACCOUNT</button>
        </div>
    </div>

    <div id="heading">
        <h1>Chart</h1>
    </div>

    <button type="button" id="add">+</button>
</div>
