@page "/"
@using Microsoft.AspNetCore.Components;
@using Microsoft.JSInterop;

<div id="root" @onmousemove="ShowChart">
    <div id="container">
        <div>
            <div id="heading">
                <h1>Accounts</h1>
            </div>
            <div id="content">
                <button type="button" id="account">ACCOUNT</button>
                <button type="button" id="account">ACCOUNT</button>
                <button type="button" id="account">ACCOUNT</button>
            </div>
        </div>

        <div id="heading">
            <h1>Summary</h1>
            <h2>
                £0.00
            </h2>
        </div>

        <div id="heading">
            <h1>Financial History</h1>
        </div>

        <div class="financeInfo">
            <button type="button" id="smallButton">6 Months</button>
            <button type="button" id="smallButton">Year</button>
            <button type="button" id="smallButton">5 Years</button>
            <button type="button" id="smallButton">All Time</button>
        </div>

        <div>
            <h3><br>FINANCIAL CHART</h3>
        </div>

        <div id="chart">
            <canvas id="myChart" width="600" height="400"></canvas>
        </div>

        <h2>Balance Change:</h2>
        <h3>+/- £0.00</h3>
    </div>

    <div class="addButton">
        <button type="button" id="add">+</button>
    </div>
</div>

@code
{
    public bool isLoaded = false;

    [Inject]
    public IJSRuntime JSRuntime { get; set; }
    public async Task ShowChart()
    {
        if (!isLoaded)
        {
            await JSRuntime.InvokeVoidAsync("ShowJSChart");
            isLoaded = true;
        }
    }
}
