/* INTENDED FOR ALL STATIC OBJECTS IN GENERAL SITUATIONS */

@import "vars.scss";

* {
    border-radius: 0.5rem;
    color: $xo-colour-text;
    font-family: $xo-font-body;
    transition: all ease 0.2s;

    body {
        background-color: $xo-colour-background;
        margin: auto;
        transition: all ease 0.2s;

        @media (min-width: $xo-breakpoint-mobile) and (max-width: $xo-breakpoint-tablet) {
            width: 100%;
            padding: 0rem;
        }

        @media (min-width: $xo-breakpoint-tablet) and (max-width: $xo-breakpoint-desktop) {
            width: 95%;
            padding: 0.5rem;
        }

        @media (min-width: $xo-breakpoint-desktop) and (max-width: $xo-breakpoint-large) {
            width: 85%;
            max-width: 1440px;
            padding: 1rem;
        }

        @media (min-width: $xo-breakpoint-large) {
            width: 80%;
            padding: 1rem;
        }

        @media (min-width: $xo-breakpoint-tablet) {
            overflow-y: hidden;
        }

        a {
            color: $xo-colour-accent;
            text-decoration: none;

            &:hover {
                color: $xo-colour-select;
            }
        }

        h1, h2, h3, h4, h5 {
            font-family: $xo-font-title;
        }

        @media (min-width: $xo-breakpoint-desktop) {
            h1 {
                font-size: 3rem;
                font-weight: bold;
                color: $xo-colour-accent;
            }

            h2 {
                font-size: 2.5rem;
                font-weight: bold;
                color: $xo-colour-accent;
            }

            h3 {
                font-size: 2rem;
                font-weight: bold;
                color: $xo-colour-text;
            }

            h4 {
                font-size: 1.75rem;
                font-weight: bold;
                color: $xo-colour-text;
            }

            h5 {
                font-size: 1.5rem;
                font-weight: bold;
                color: $xo-colour-muted-text;
            }

            h6 {
                font-size: 1.25rem;
                color: $xo-colour-muted-text;
                font-style: italic;
                font-weight: normal;
            }

            p {
                color: $xo-colour-text;
                font-size: 1.25rem;
                line-height: 1.75rem;
            }

            ul {
                li {
                    font-size: 1.25rem;

                    &.small_li {
                        font-size: 1rem;
                    }
                }
            }

            .bg-xo_accent {
                background-color: $xo-colour-accent;
            }

            .bg-xo_select {
                background-color: $xo-colour-select;
                color: $xo-colour-inverted-text;
                border: 1px solid $xo-colour-secondary;
            }

            .bg-xo_background {
                background-color: $xo-colour-background;
            }

            .bg-xo_text {
                background-color: $xo-colour-text;
            }

            .bg-xo_muted-text {
                background-color: $xo-colour-muted-text;
            }

            .bg-xo_primary {
                background-color: $xo-colour-primary;
            }

            .bg-xo_secondary {
                background-color: $xo-colour-secondary;
            }
        }

        @media (max-width: $xo-breakpoint-tablet) {
            h1 {
                font-size: 3rem;
                font-weight: bold;
            }

            h2 {
                font-size: 2rem;
                font-weight: bold;
            }

            h3 {
                font-size: 1.5rem;
                font-weight: bold;
                color: $xo-colour-accent;
            }

            h4 {
                font-size: 1.25rem;
                font-weight: bold;
            }

            h5 {
                font-size: 1rem;
                font-weight: bold;
                color: $xo-colour-muted-text;
            }

            h6 {
                font-size: 1rem;
                color: $xo-colour-muted-text;
            }

            p {
                color: $xo-colour-text;
                font-size: 1rem;
                line-height: 1.5rem;
            }

            ul {
                li {
                    font-size: 1rem;
                    padding: 0;

                    &.small_li {
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }

    &::-webkit-scrollbar {
        background-color: transparent;
        border-radius: 1rem;
        width: 6px;
        height: 0px;
        margin-right: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 1rem;
        margin-right: 1rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $xo-colour-select;
        border-radius: 1rem;
        margin-right: 1rem;
    }
}
