/* INTENDED FOR ALL STATIC OBJECTS IN GENERAL SITUATIONS */ /* INTENDED FOR ALL VARIABLES THAT WILL NEED TO BE GLOBALLY ACCESSED */
@font-face {
  font-family: "Montserrat";
  src: url("../../content/font/Montserrat-VariableFont_wght.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../../content/font/NotoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*@media (prefers-color-scheme: light) {
    $xo-colour-text: #000000 !global;
    $xo-colour-muted-text: #212121 !global;
    $xo-colour-accent: #d86363 !global;
    $xo-colour-select: #879ac7 !global;
    $xo-colour-effect: #92c397 !global;
    $xo-colour-secondary: #acbfa4 !global;
    $xo-colour-primary: #e2e8ce !global;
    $xo-colour-background: #cccccc !global;
}*/
* {
  border-radius: 0.5rem;
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  transition: all ease 0.2s;
}
* body {
  background-color: #1e1d1e;
  margin: auto;
  transition: all ease 0.2s;
}
@media (min-width: 425px) and (max-width: 768px) {
  * body {
    width: 100%;
    padding: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  * body {
    width: 95%;
    padding: 0.5rem;
  }
}
@media (min-width: 1440px) and (max-width: 1920px) {
  * body {
    width: 85%;
    max-width: 1440px;
    padding: 1rem;
  }
}
@media (min-width: 1920px) {
  * body {
    width: 80%;
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  * body {
    overflow-y: hidden;
  }
}
* body a {
  color: #ffb255;
  text-decoration: none;
}
* body a:hover {
  color: #92c397;
}
* body h1, * body h2, * body h3, * body h4, * body h5 {
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 1440px) {
  * body h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffb255;
  }
  * body h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffb255;
  }
  * body h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
  }
  * body h4 {
    font-size: 1.75rem;
    font-weight: bold;
    color: #ffffff;
  }
  * body h5 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #dddddd;
  }
  * body h6 {
    font-size: 1.25rem;
    color: #dddddd;
    font-style: italic;
    font-weight: normal;
  }
  * body p {
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  * body ul li {
    font-size: 1.25rem;
  }
  * body ul li.small_li {
    font-size: 1rem;
  }
  * body .bg-xo_accent {
    background-color: #ffb255;
  }
  * body .bg-xo_select {
    background-color: #92c397;
    color: #000000;
    border: 1px solid #242634;
  }
  * body .bg-xo_background {
    background-color: #1e1d1e;
  }
  * body .bg-xo_text {
    background-color: #ffffff;
  }
  * body .bg-xo_muted-text {
    background-color: #dddddd;
  }
  * body .bg-xo_primary {
    background-color: #181920;
  }
  * body .bg-xo_secondary {
    background-color: #242634;
  }
}
@media (max-width: 768px) {
  * body h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  * body h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  * body h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffb255;
  }
  * body h4 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  * body h5 {
    font-size: 1rem;
    font-weight: bold;
    color: #dddddd;
  }
  * body h6 {
    font-size: 1rem;
    color: #dddddd;
  }
  * body p {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  * body ul li {
    font-size: 1rem;
    padding: 0;
  }
  * body ul li.small_li {
    font-size: 0.75rem;
  }
}
*::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 1rem;
  width: 6px;
  height: 0px;
  margin-right: 1rem;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 1rem;
  margin-right: 1rem;
}
*::-webkit-scrollbar-thumb {
  background-color: #92c397;
  border-radius: 1rem;
  margin-right: 1rem;
}
