/* INTENDED FOR ALL VARIABLES THAT WILL NEED TO BE GLOBALLY ACCESSED */
@font-face {
  font-family: "Montserrat";
  src: url("../../content/font/Montserrat-VariableFont_wght.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../../content/font/NotoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*@media (prefers-color-scheme: light) {
    $xo-colour-text: #000000 !global;
    $xo-colour-muted-text: #212121 !global;
    $xo-colour-accent: #d86363 !global;
    $xo-colour-select: #879ac7 !global;
    $xo-colour-effect: #92c397 !global;
    $xo-colour-secondary: #acbfa4 !global;
    $xo-colour-primary: #e2e8ce !global;
    $xo-colour-background: #cccccc !global;
}*/
