@model Paidit.Models.Home.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Components;
@using Microsoft.JSInterop;

@*
    TODO:
    - Make it so the colours are set and not randomized every time. Make colours able to change
    - Allow creation of basic "goals" with the information, again, stored in the JSON.
    - Allow deletion of bank accounts showing but keep the data in userdata.JSON
        - Upon account deletion add date data of account being at £0





        Features:
        Overwrite JSON
        Change COlours
        Goals
        Delete accounts but have option to keep the data for the account
*@

<div class="portlet_main mt-3">
    <div class="portlet_body  portlet_body--no_scroll text-center">
        <h1>PAIDIT</h1>
        <h2>ACCOUNTS</h2>

        <div id="primaryChart" class="portlet_child-centrepiece">
            <span type="button" id="addAccountBtn" class="secondary_button secondary_button--selectable bg-xo_select">Add Account</span>
            <div id="accountsContainer" class="portlet_list" data-chart="@ViewBag.ChartData"></div>
            <div id="chart">
                <canvas id="myChart"></canvas>
            </div>
        </div>

        <div id="editAccountCover" class="portlet_child-centrepiece d-none">
            <div class="form-group">
                @if(Model.AccountNames.Count > 0)
                {
                    <label for="accountSelect">Select Account</label>
                    <select class="form-control" id="accountSelect">
                        @foreach(var account in Model.AccountNames)
                        {
                            <option class="bg-black">@account</option>
                        }
                    </select>
                }
                else
                {
                    <p>No accounts to edit</p>
                }
            </div>
        </div>

        <div>
            <span type="button" id="editAccountBtn" class="secondary_button secondary_button--selectable bg-xo_secondary">Edit Accounts</span>
        </div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="/js/chart.accounts.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="/js/chart.accounts.min.js" asp-append-version="true"></script>
    </environment>
}