/* INTENDED FOR SPECIFIC STYLING ON OBJECTS USED ON EVERY PAGE */ /* INTENDED FOR ALL VARIABLES THAT WILL NEED TO BE GLOBALLY ACCESSED */
@font-face {
  font-family: "Montserrat";
  src: url("../../content/font/Montserrat-VariableFont_wght.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../../content/font/NotoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*@media (prefers-color-scheme: light) {
    $xo-colour-text: #000000 !global;
    $xo-colour-muted-text: #212121 !global;
    $xo-colour-accent: #d86363 !global;
    $xo-colour-select: #879ac7 !global;
    $xo-colour-effect: #92c397 !global;
    $xo-colour-secondary: #acbfa4 !global;
    $xo-colour-primary: #e2e8ce !global;
    $xo-colour-background: #cccccc !global;
}*/
@media (min-width: 425px) {
  .core_button {
    margin: 0.5rem;
    width: 100%;
  }
}
.core_button.nav-item .nav-link, .core_button a {
  display: block;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  width: 100%;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.core_button.nav-item .nav-link:hover, .core_button a:hover {
  color: #1e1d1e !important;
}
.core_button:hover {
  background-color: #92c397;
}

.secondary_button {
  color: #dddddd;
  font-weight: bold;
  letter-spacing: 2px;
  width: 100%;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
@media (max-width: 425px) {
  .secondary_button {
    display: none;
  }
}
.secondary_button.secondary_button--selectable {
  color: #ffffff;
  pointer-events: all;
}
.secondary_button.secondary_button--selectable:hover {
  font-size: 1.5rem;
}
.secondary_button.secondary_button--selectable.button_focus {
  color: #ffb255 !important;
}

.button_focus {
  font-size: 1.5rem;
  color: #ffb255;
}
.button_focus a {
  color: #92c397 !important;
}
