/* INTENDED SPECIFICALLY FOR PORTLET STYLING */ /* INTENDED FOR ALL VARIABLES THAT WILL NEED TO BE GLOBALLY ACCESSED */
@font-face {
  font-family: "Montserrat";
  src: url("../../content/font/Montserrat-VariableFont_wght.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../../content/font/NotoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*@media (prefers-color-scheme: light) {
    $xo-colour-text: #000000 !global;
    $xo-colour-muted-text: #212121 !global;
    $xo-colour-accent: #d86363 !global;
    $xo-colour-select: #879ac7 !global;
    $xo-colour-effect: #92c397 !global;
    $xo-colour-secondary: #acbfa4 !global;
    $xo-colour-primary: #e2e8ce !global;
    $xo-colour-background: #cccccc !global;
}*/
.portlet_main .portlet_body {
  background-color: #181920;
  padding: 2rem;
  border: solid 1px #92c397;
  height: 85vh;
  overflow-y: scroll;
  box-shadow: 0 0 2rem #000;
  width: 100%;
}
@media (max-width: 768px) {
  .portlet_main .portlet_body {
    padding: 1rem !important;
  }
  .portlet_main .portlet_body .portlet_child-scroll {
    padding: 0;
  }
  .portlet_main .portlet_body li {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .portlet_main .portlet_body.portlet_body--no_scroll {
    overflow-y: hidden;
  }
}
.portlet_main .portlet_body.portlet_body--no_style {
  position: absolute;
  left: 0;
  height: 99%;
  border: 0;
  box-shadow: none;
  background-color: transparent;
}
.portlet_main .portlet_body .portlet_child-scroll {
  border: solid 1px #92c397;
  background-color: #242634;
  padding: 1rem;
  overflow-y: scroll;
  box-shadow: 0 0 1rem #000;
}
.portlet_main .portlet_body .portlet_child-scroll li {
  color: #dddddd;
  padding: 0;
}
.portlet_main .portlet_body .portlet_child-grid {
  display: flex;
  flex-wrap: wrap;
  transition: all ease 0.2s;
  justify-content: center;
  padding: 0rem 4rem;
  margin-bottom: 3rem;
}
.portlet_main .portlet_body .portlet_child-grid .portlet_child-grid-item {
  border: solid 2px #92c397;
  position: relative;
  width: 400px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: visible;
  opacity: 0.5;
  cursor: pointer;
  box-shadow: 0 0 1rem #000;
  animation: fadeInExpand 0.5s;
  animation-iteration-count: 1;
  transition: all 0.2s;
}
@media (min-width: 425px) {
  .portlet_main .portlet_body .portlet_child-grid .portlet_child-grid-item {
    margin: 3rem;
  }
}
@media (max-width: 425px) {
  .portlet_main .portlet_body .portlet_child-grid .portlet_child-grid-item {
    margin: 1rem 0rem;
  }
}
.portlet_main .portlet_body .portlet_child-grid .portlet_child-grid-item:hover {
  opacity: 1;
  transform: scale(1.1);
}
.portlet_main .portlet_body .portlet_child-grid .portlet_child-grid-item *:hover {
  transform: scale(1.02);
}
.portlet_main .portlet_body .portlet_child-grid .portlet_child-grid-item .js_portlet_child-grid-item--filtered img {
  border: solid 1px #92c397;
  padding: 0;
  margin-bottom: 10px;
  height: 250px;
  width: 400px;
  object-fit: cover;
}
.portlet_main .portlet_body .portlet_child-hidden {
  display: none;
  border: solid 1px #92c397;
  background-color: #242634;
  transition: all ease 0s;
  box-shadow: 0 0 1rem #000;
  height: 1px;
}
.portlet_main .portlet_body .portlet_child--event_hidden {
  display: none;
}
.portlet_main .portlet_body .portlet_child-mobile {
  display: none;
}
@media (max-width: 768px) {
  .portlet_main .portlet_body .portlet_child-hiddenText {
    display: none;
  }
  .portlet_main .portlet_body .portlet_child-mobile {
    display: block;
  }
  .portlet_main .portlet_body .portlet_child-scroll {
    display: none;
  }
}
.portlet_main .portlet_body .portlet_list {
  display: none;
  list-style: none;
  padding: 0;
}
@media (min-width: 425px) {
  .portlet_main .portlet_body .portlet_list {
    display: flex !important;
  }
}
.portlet_main .portlet_body .portlet_list li {
  width: 100%;
  margin: 0 0.1rem;
}
.portlet_main .portlet_body .portlet_child-centrepiece {
  background-color: #242634;
  margin: auto;
  padding: 1rem;
  border: solid 1px #92c397;
}
@media (min-width: 768px) {
  .portlet_main .portlet_body .portlet_child-centrepiece {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .portlet_main .portlet_body .portlet_child-centrepiece {
    width: 100%;
  }
}
